<footer class="app-footer {{ theme.type }}">
  <h2 class="app-footer--title">Feito por Leonardo Carvalho</h2>
  <section class="app-footer--socials">
    <a target="_blank" href="https://github.com/leodsc">
      <img
        width="50"
        height="50"
        class="app-footer-icon1"
        src="https://cdn-icons-png.flaticon.com/512/733/733553.png"
        alt=""
      />
    </a>
    <a target="_blank" href="https://linkedin.com/in/leodsc">
      <img
        width="50"
        height="50"
        class="app-footer-icon2"
        src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
        alt=""
      />
    </a>
  </section>
</footer>
