<main>
  <section>
    <button class="btn-a" (click)="changeCurrentPanel('tema')">Temas</button>
    <button class="btn-a" (click)="changeCurrentPanel('postagens')">
      Postagens
    </button>
  </section>
  <article *ngIf="currentPanel === 'postagens'">
    <select class="border-0" aria-label="Default select example">
      <option selected>Escolha um tema para a postagem</option>
      <!-- <option *ngFor="let tema of temas" value="{{ tema }}"> -->
      <!-- {{ tema }} -->
      <!-- </option> -->
    </select>
    <div class="input-group">
      <textarea
        style="height: 160px"
        class="form-control"
        placeholder="Texto da postagem"
        aria-label="With textarea"
      ></textarea>
    </div>
    <div class="input-group mb-3 align-items-center">
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default"
        placeholder="Título da nova postagem"
        required
      />
      <button
        class="input-group-text bg-info text-white"
        id="inputGroup-sizing-default"
      >
        Enviar
      </button>
    </div>
    <div *ngFor="let postagem of postagens">
      <p class="titulo">{{ postagem.titulo }}</p>
      <p class="texto">{{ postagem.texto }}</p>
      <p class="tema">{{ postagem.tema?.descricao }}</p>
    </div>
  </article>
  <article *ngIf="currentPanel === 'tema'">
    <h1>Criar novo tema</h1>
    <div class="mb-3">
      <label for="nome" class="form-label">Nome do tema</label>
      <input
        [(ngModel)]="tema.nome"
        type="email"
        class="form-control"
        id="nome"
        name="nome"
        placeholder="Exemplo: futebol"
      />
    </div>
    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição do tema</label>
      <textarea
        [(ngModel)]="tema.descricao"
        class="form-control"
        id="descricao"
        name="descricao"
        rows="3"
      ></textarea>
      <button type="button" (click)="criarTema()" class="btn btn-success">
        Criar
      </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Tema</th>
          <th scope="col">Descrição</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tema of temas">
          <td>{{ tema.id }}</td>
          <td>{{ tema.nome }}</td>
          <td>{{ tema.descricao }}</td>
          <button type="button" class="btn btn-info" (click)="modal(tema)">
            Editar
          </button>
          <button type="button" class="btn btn-danger">Excluir</button>
        </tr>
      </tbody>
    </table>
    <!-- <div *ngFor="let tema of temas">
      <p class="tema">{{ tema }}</p>
    </div> -->
  </article>
</main>
