@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

/* reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
}

:root {
  --light-theme: #f1f5f8;
  --dark: #212124;
}

body {
  background-color: #f1f5f8;
  overflow-x: hidden;
}

.page {
  background-color: var(--light-theme);
}

.dark,
.dark > * {
  background-color: var(--dark);
  color: var(--light-theme);
}

.light .light > * {
  background-color: var(--light-theme);
  color: var(--dark);
}

.light--child > * {
  background-color: var(--dark);
  color: var(--light-theme);
}

.dark--child > * {
  background-color: var(--light-theme);
  color: var(--dark);
}
