<form class="form-ctn d-flex flex-column align-items-center">
  <img width="100" height="100" src="assets/user.svg" alt="" />
  <div class="form-group">
    <label for="usuario">Email</label>
    <input
      [(ngModel)]="userLogin.usuario"
      type="email"
      class="form-control"
      id="usuario"
      name="usuario"
      aria-describedby="emailHelp"
      placeholder="Coloque seu email"
    />
  </div>
  <div class="form-group">
    <label for="senha">Senha</label>
    <input
      type="password"
      class="form-control"
      id="senha"
      name="senha"
      placeholder="Digite sua senha"
      [(ngModel)]="userLogin.senha"
    />
  </div>
  <button type="submit" class="btn btn-primary" (click)="entrar()">
    Entrar
  </button>
  <p>Não tem conta? <a routerLink="/cadastrar">Cadastre-se!</a></p>
</form>
